* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

header,
footer {
  background-color: #a0d8ef;
  padding: 20px;
}

.mainContent {
  display: flex;
  flex: 1;
}

nav {
  background-color: coral;
  padding: 20px;
  flex-shrink: 0;
}
main {
  background-color: pink;
  padding: 20px;
  flex-grow: 1;
}
aside {
  background-color: coral;
  padding: 20px;
  flex-shrink: 0;
}
