.App {
  font-family: sans-serif;
  text-align: center;
}

.search-input {
  width: 70%;
  padding: 5px;
}

.result-container {
  width: 70%;
  margin: auto;
  border: 3px solid black;
  padding: 6px;
  text-align: left;
  height: 500px;
  overflow-y: scroll;
}
.result {
  display: block;
  padding: 5px;
}
.result:hover {
  cursor: pointer;
  background-color: beige;
}
