* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: beige;
  padding: 1rem 0;
  max-width: 1200px;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #4caf50;
}

/* humbrger */

.hamburger {
  display: none;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  gap: 4px;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  /* Hide Nav Links by Default */
  .nav-links {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: beige;
    flex-direction: column;
    gap: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
  }

  /* Show Nav Links When Active */
  .nav-links.active {
    max-height: 300px;
  }
  .nav-links a {
    border-bottom: 1px solid #444;
    display: block;
    padding: 1rem 20px;
  }
}
