.App {
  font-family: sans-serif;
  text-align: center;
}

.products {
  
  margin: 20px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.products__single {
  height: 70px;
  padding: 20px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.products__single img {
  width: 80%;
  height: 55%;
  margin-bottom: 10px;
}

.pageNo {
  padding: 6px;
  border: 1px solid black;
  background-color: aliceblue;
  cursor: pointer;
  margin: 10px;
}
